---
layout: default
---
<style>

.titleimage {
  opacity: 1; 
  cursor: pointer; 
  object-fit: cover;
  height: 200px
}

img:hover {
  opacity: 0.8;
}

.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  padding-left: 20px;
  padding-right: 40px;
  color: #010101;
  background-color: #f1f1f1;
  opacity: 60%;
/*  width: 30%;*/
  border-radius: 0px 0px 50px 0px;
}

</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
<!--    <h2 class="post-list-heading">{{ page.list_title | default: "Latest" }}</h2> -->
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
	   <div class="container">
              <a class="post-link" href="{{ post.url | relative_url }}">
                   <div class="text-block">
		     {{ post.title | escape }}
		   </div>
	         <img src="{{ post.image }}" class="titleimage"/> 
              </a>
	   </div>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

<!--    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
